html,body {
  height: 97%;
  margin: 0;
  font-size: 90%;
  padding: .2rem .5rem;
  background:#F1F1F1;
  font-family: 'Roboto Mono', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1rem;
}

.no-decoration {
    list-style-type: none;
}

.less-spacing {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.side-color {
  background:#FFF;
}

@media print {
    @page {
        size: auto;
        margin: 0 0.5in 0 0.5in;
    }

    * {
        float: none !important;
    }

    .grid-container {
        width: 100%;
        font-family: 'Prata', serif;
    }

    h1 {
        margin: 0;
        padding-top: 1em;
        padding-bottom: 0;
        letter-spacing: 3px;
        text-shadow: none;
    }

    #contact-info ul li{
        font-size: small;
    }

    p {
        font-size: small;
    }
    
    li {
        font-size: small;
    }

    h2 {
        border: none;
        font-size: small;
        font-weight: bold;
    }

    h3 {
        display: flex;
        
    }

    .job-date {
        flex: 1;
        text-align: right;
        white-space: nowrap;
    }

    #job-title {
        margin-top: 2em;
        margin-bottom: 1.5em;
        padding: 0;
    }

    #qualification-summary {
        margin: 0;
        padding: 0;
    }

    #experience {
        padding-top: 1em;
        break-before: always;
        page-break-before: always;
        page-break-inside: avoid;
    }

    #education {
        padding-top: 1em;
    }

    h3 {
        text-transform: capitalize;
        font-size: small;
        font-weight: bold;
    }

    footer {
        display: none;
    }

    .no-print {
        display: none;
    }
}
