html,body {
  height: 97%;
  margin: 0;
    background:#F1F1F1;
    font-size: 90%;
    padding: .2rem .5rem;
    font-family: 'Roboto Mono', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}