html,body {
  height: 97%;
  margin: 0;
  font-size: 90%;
  padding: .2rem .5rem;
  background:#F1F1F1;
  font-family: 'Roboto Mono', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
/*
.hero > .container {
    padding-top: 1.5em;
}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("hero-img.jpeg");
    background-position: top;
    background:#D1D1D1;
    height: 33%;
}*/


h1 {
font-size: 2rem;
letter-spacing: 10px;

}

h2 {
font-size: 1.5rem;
letter-spacing: 5px;

}

h3 {
font-size: 1rem;
letter-spacing: 5px;

}

.no-decoration {
    list-style-type: none;
}

.less-spacing {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

@media print {
    @page {
        size: auto;
        margin: 0.5in 0.5in 0.5in 0.5in;
    }

    {
        float: none !important;
    }

    .grid-container {
        width: 100%;
        font-family: 'Prata', serif;
    }

    h1 {
        margin: 0;
        padding-top: 1em;
        padding-bottom: 0;
        letter-spacing: 10px;
        text-shadow: none;
    }

    #contact-info ul li{
        font-size: small;
    }

    p {
        font-size: small;
    }
    
    li {
        font-size: small;
    }

    h2 {
        border: none;
        font-size: small;
        text-shadow: none;
        letter-spacing: 5px;


]    }

    h3 {
        display: flex;
        text-transform: capitalize;
        font-size: small;
                text-shadow: none;
        letter-spacing: 5px;


    }

    footer {
        display: none;
    }

    .no-print {
        display: none;
    }
}
